<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="img/logo-mosque.png" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="stylesheet" href="css/styles.css">
        <script src="js/main.js" defer></script>
        <title>Masjid Al-Hikmah</title>
    </head>
    <body>
        <header class="header" id="header">
            <nav class="nav container">
                <a href="/" class="nav__logo">
                    <img src="img/logo-alhikmah.png" alt="logo image">
                    Al-Hikmah
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#home" class="nav__link active-link">Home</a>
                        </li>

                        <li class="nav__item">
                            <a href="#jadwal" class="nav__link">Jadwal Sholat</a>
                        </li>

                        <li class="nav__item">
                            <a href="#popular" class="nav__link">Popular</a>
                        </li>

                        <li class="nav__item">
                            <a href="#recently" class="nav__link">Kegiatan</a>
                        </li>
                    </ul>

                    <!-- Nav Close -->
                    <div class="nav__close" id="nav-close">
                        <i class="ri-close-line"></i>
                    </div>

                    <img src="img/leaf-branch-4.png" alt="nav image" class="nav__img-1">
                    <img src="img/leaf-branch-3.png" alt="nav image" class="nav__img-2">
                </div>

                <div class="nav__buttons">
                    <!-- Theme -->
                    <i class="ri-moon-line change-theme" id="theme-button"></i>

                    <!-- Toggle button -->
                    <div class="nav__toggle" id="nav-toggle">
                        <i class="ri-apps-2-line"></i>
                    </div>
                </div>
            </nav>
        </header>

        <main class="main">
            <section class="home section" id="home">
                <div class="home__container container grid">
                    <img src="img/masjid-img.png" alt="home image" class="home__img">
                    <div class="home__data">
                        <h1 class="home__title">
                            Nikmati Ketenangan Beragama dan Pertumbuhan Spiritual di Masjid Kami
                        </h1>

                        <p class="home__description">
                            Sholat adalah waktu pertemuan dengan Allah dan kenaikan orang beriman
                        </p>

                        <a href="https://www.google.com/maps/dir//4J9M%2BGJW+Mesjid+Al-Hikmah+Cijotang,+Cibeunying,+Kec.+Cimenyan,+Kabupaten+Bandung,+Jawa+Barat+40191/@-6.8811403,107.6334654,19z/data=!4m8!4m7!1m0!1m5!1m1!1s0x2e68e7b02011c8fb:0xdf26ff63888f5133!2m2!1d107.6341227!2d-6.881149?entry=ttu" target="_blank" class="button">
                            Kunjungi Masjid <i class="ri-arrow-right-line"></i>
                        </a>
                    </div>
                </div>

                <img src="img/leaf-branch-2.png" alt="home image" class="home__leaf-1">
                <img src="img/leaf-branch-4.png" alt="home image" class="home__leaf-2">
            </section>

            <!--==================== Jadwal Sholat ====================-->
            <section class="jadwal section" id="jadwal">
                <div class="jadwal__container container grid">
                    <div class="jadwal__data">
                        <span class="section__subtitle">Jadwal Sholat Selanjutnya</span>
                        <h2 class="section__title jadwal__title"> 
                            <% if (waktuSekarang >= waktuIsya || waktuSekarang <= waktuSubuh) { %>
                                Sholat Subuh
                            <% } else if (waktuSekarang >= waktuSubuh && waktuSekarang <= waktuDzuhur) { %>
                                Sholat Dzuhur
                            <% } else if (waktuSekarang >= waktuDzuhur && waktuSekarang <= waktuAshar) { %>
                                Sholat Ashar
                            <% } else if (waktuSekarang >= waktuAshar && waktuSekarang <= waktuMaghrib) { %>
                                Sholat Maghrib
                            <% } else if (waktuSekarang >= waktuMaghrib && waktuSekarang <= waktuIsya) { %>
                                Sholat Isya
                            <% } %>
                        </h2>

                        <p class="jadwal__description">
                            <% if (waktuSekarang >= waktuIsya || waktuSekarang <= waktuSubuh) { %>
                                <%= jadwalSholat.subuh %> WIB
                            <% } else if (waktuSekarang >= waktuSubuh && waktuSekarang <= waktuDzuhur) { %>
                                <%= jadwalSholat.dzuhur %> WIB
                            <% } else if (waktuSekarang >= waktuDzuhur && waktuSekarang <= waktuAshar) { %>
                                <%= jadwalSholat.ashar %> WIB
                            <% } else if (waktuSekarang >= waktuAshar && waktuSekarang <= waktuMaghrib) { %>
                                <%= jadwalSholat.maghrib %> WIB
                            <% } else if (waktuSekarang >= waktuMaghrib && waktuSekarang <= waktuIsya) { %>
                                <%= jadwalSholat.isya %> WIB
                            <% } %>
                        </p>
                    </div>

                    <div class="jadwal__sholat">
                        <span class="sholat__container grid">
                            <div class="time">
                                <p>Sholat Subuh</p>
                                <div class="jam">
                                    <%= jadwalSholat.subuh %> WIB
                                </div>
                            </div>
                            <div class="time">
                                <p>Syuruq / Terbit </p>  
                                <div class="jam">
                                    <%= jadwalSholat.terbit %> WIB
                                </div>
                            </div>
                            <div class="time">
                                <p>Sholat Dzuhur  </p> 
                                <div class="jam">
                                    <%= jadwalSholat.dzuhur %> WIB
                                </div> 
                            </div>
                            <div class="time">
                                <p>Sholat Ashar</p> 
                                <div class="jam">
                                    <%= jadwalSholat.ashar %> WIB
                                </div> 
                            </div>
                            <div class="time">
                                <p>Sholat Maghrib</p> 
                                <div class="jam">
                                    <%= jadwalSholat.maghrib %> WIB
                                </div>  
                            </div>
                            <div class="time">
                                <p>Sholat Isya</p>   
                                <div class="jam">
                                    <%= jadwalSholat.isya %> WIB
                                </div>
                            </div>
                        </span>
                    </div>
                </div>

                <img src="img/leaf-branch-1.png" alt="jadwal image" class="jadwal__leaf">
            </section>

            <!--==================== POPULAR ====================-->
            <section class="popular section" id="popular">
                <span class="section__subtitle">Al-Hikmah</span>
                <h2 class="section__title">Extend Your Hand of Charity</h2>

                <div class="popular__container grid">
                    <article class="popular__card">
                        <img src="img/popular-onigiri.png" alt="popular image" class="popular__img">

                        <h3 class="popular__name">Onigiri</h3>
                        <span class="popular__description">Japanese Dish</span>

                        <a href="#" class="popular__price">Donate for Mosque </a>
                    </article>

                    <article class="popular__card">
                        <img src="img/popular-spring-rols.png" alt="popular image" class="popular__img">

                        <h3 class="popular__name">Spring Rolls</h3>
                        <span class="popular__description">Japanese Dish</span>

                        <a href="#" class="popular__price">Donate for Zakat </a>
                    </article>

                    <article class="popular__card">
                        <img src="img/popular-sushi-rolls.png" alt="popular image" class="popular__img">

                        <h3 class="popular__name">Sushi Rolls</h3>
                        <span class="popular__description">Japanese Dish</span>

                        <a href="#" class="popular__price">Donate for Sadaqah </a>
                    </article>
                </div>
            </section>

            <!--==================== RECENTLY ====================-->
            <section class="recently section" id="recently">
                <div class="recently__container container grid">
                    <div class="recently__data">
                        <span class="section__subtitle">Kegiatan Hari Ini</span>
                        <h3 class="section__title">
                            Selasa, 12 Juli 2023
                        </h3>
                        <!-- 

                        <p class="recently__description">
                            Take a look at what's new. And do not deprive
                            yourself of a good meal, enjoy and be happy.
                        </p>

                        <a href="#" class="button">
                            Order Now <i class="ri-arrow-right-line"></i>
                        </a> -->

                        <table>
                            <div class="kegiatan__container">
                                <div class="waktu__kegiatan">
                                    <p>09.00 WIB s/d 10.00 WIB</p>
                                </div>

                                <div class="title__kegiatan">
                                    <p>Pengajian Rutin Mingguan</p>
                                </div>

                                <div class="detail__kegiatan">
                                    <a>
                                        Selengkapnya
                                    </a>

                                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#d36836}</style><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"/></svg>

                                </div>
                            </div>

                            <div class="kegiatan__container">
                                <div class="waktu__kegiatan">
                                    <p>11.00 WIB s/d selesai</p>
                                </div>

                                <div class="title__kegiatan">
                                    <p>Bersih-bersih Masjid</p>
                                </div>
                            </div>

                        </table>

                    </div>

                    <div class="wrapper">
                        <header>
                          <p class="kegiatan__yad">Kegiatan Yang Akan Datang</p>
                        </header>
                        
                        <div class="kegiatan__body">
                            <% let i = 0 %>
                            <% for (let row of dataKegiatan) { %>
                                <% if (i >= 5){ %>
                                    <% break %>
                                <% } else{ %>
                                    <div class="kegiatan__box">
                                        <div class="no__kegiatan">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#d56e3f}</style><path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z"/></svg>
                                        </div>
                                        <div class="kegiatan__list">
                                            <p class="kegiatan__time"><%= row.hari %>, <%= row.day %> <%= row.bulan %> <%= row.tahun %> | <%= row.start_time %> WIB</p>
                                            <p class="kegiatan__nama"><%= row.nama_kegiatan %></p>
                                        </div>
                                    </div>
                                <% } %>
                                <% i++ %>
                            <% } %> 

                            <% if (i > 3) { %>
                                <div class="kegiatan__selengkapnya">
                                    <a>Selengkapnya</a>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#d56e3f}</style><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"/></svg>
                                </div>
                            <% } %>

                            <% if (dataKegiatan.length == 0) { %>
                                <div class="notif__kosong">
                                    <p>Tidak ada kegiatan yang akan datang</p>
                                </div>
                            <% } %>
                            
                        </div>
                    </div>
                </div>

                <img src="img/leaf-branch-2.png" alt="recently image" class="recently__leaf-1">
                <img src="img/leaf-branch-3.png" alt="recently image" class="recently__leaf-2">
            </section>

            <!--==================== NEWSLETTER ====================-->
            <section class="newsletter section">
                <div class="newsletter__container container">
                    <div class="newsletter__content grid">
                        <img src="img/newsletter-sushi.png" alt="newsletter image" class="newsletter__img">

                        <div class="newsletter__data">
                            <span class="section__subtitle">Newsletter</span>
                            <h2 class="section__title">
                                Subscribe untuk <br>
                                mengikuti informasi terkini
                            </h2>

                            <form name="submit-to-google-sheet" class="newsletter__form">
                                <input type="email" placeholder="Masukan email" class="newsletter__input" name="Email" required>
                                <input type="text" name="Tanggal" value="<%= timeSubscribe %>" hidden>

                                <button type="submit" class="button newsletter__button">
                                    Subscribe <i class="ri-send-plane-line"></i>
                                </button>
                            </form>
                        </div>
                    </div>

                    <img src="img/spinach-leaf.png" alt="newsletter image" class="newsletter__spinach">
                </div>
            </section>
        </main>

        <!--==================== FOOTER ====================-->
        <footer class="footer">
            <div class="footer__container container grid">
                <div>
                    <a href="#" class="footer__logo">
                        <img src="img/logo-alhikmah.png" alt="logo image">
                        Al-Hikmah
                    </a>

                    <p class="footer__description">
                        Tempat ibadah dan <br>
                        pusat kegiatan keagamaan <br>
                        umat muslim.
                    </p>
                </div>

                <div class="footer__content">
                    <div>
                        <h3 class="footer__title">Main Menu</h3>

                        <ul class="footer__links">
                            <li>
                                <a href="#" class="footer__link">Kegiatan</a>
                            </li>

                            <li>
                                <a href="#" class="footer__link">Fasilitas</a>
                            </li>
                            
                            <li>
                                <a href="#" class="footer__link">Sejarah</a>
                            </li>

                            <li>
                                <a href="#" class="footer__link">Tentang</a>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <h3 class="footer__title">Informasi</h3>

                        <ul class="footer__links">
                            <li>
                                <a href="#" class="footer__link">Kontak</a>
                            </li>

                            <!-- <li>
                                <a href="#" class="footer__link">Order & Returns</a>
                            </li>
                            
                            <li>
                                <a href="#" class="footer__link"></a>
                            </li> -->

                            <li>
                                <a class="footer__link license" data-target="#licenses">Lisensi</a>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <h3 class="footer__title">Alamat</h3>

                        <ul class="footer__links">
                            <li class="footer__information">
                                Jalan Cijotang RT 01 RW 03 <br>
                                Kel. Cibeunying Kec. Cimenyan <br>
                                Kabupaten Bandung, Jawa Barat <br>
                                40191
                            </li>

                            <li class="footer__information">
                                Indonesia
                            </li>
                            
                        </ul>
                    </div>

                    <div>
                        <h3 class="footer__title">Social Media</h3>

                        <ul class="footer__social">
                            <a href="https://www.facebook.com" target="_blank" class="footer__social-link">
                                <i class="ri-facebook-circle-fill"></i>
                            </a>

                            <a href="https://www.instagram.com" target="_blank" class="footer__social-link">
                                <i class="ri-instagram-fill"></i>
                            </a>

                            <a href="https://www.twitter.com" target="_blank" class="footer__social-link">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </ul>
                    </div>
                </div>

                <img src="img/spring-onion.png" alt="footer image" class="footer__onion">
                <img src="img/spinach-leaf.png" alt="footer image" class="footer__spinach">
                <img src="img/leaf-branch-4.png" alt="footer image" class="footer__leaf">
            </div>

            <div class="footer__info container">
                <div class="footer__card">
                    <img src="img/footer-card-1.png" alt="footer image">
                    <img src="img/footer-card-2.png" alt="footer image">
                    <img src="img/footer-card-3.png" alt="footer image">
                    <img src="img/footer-card-4.png" alt="footer image">
                </div>

                <span class="footer__copy">
                    &#169; Copyright 2023 Al-Hikmah. All rights reserved
                </span>
            </div>
        </footer>

        <div class="overlay" id="#licenses">
            <div class="popupLicenses">
                <button type="button" class="btn-batal close" data-target="#licenses" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                <div>
                    <div class="modal-header">
                        <h2>Lisensi</h2>
                    </div>
                </div>

                <div class="modal-body">
                    <div class="nama__img">
                        Logo Website
                        <div class="licenses__link">
                            <a href="https://www.flaticon.com/free-icons/eid-mubarak" title="eid mubarak icons" target="_blank">Eid mubarak icons created by BZZRINCANTATION - Flaticon</a>
                        </div>
                    </div>
                    <div class="nama__img">
                        Gambar Masjid
                        <div class="licenses__link">
                            <a href="https://pngtree.com/freepng/eid-mubarak-islamic-masjid-mosque_8998771.html?sol=downref&id=bef" title="islamic PNG Designed By sdesigns" target="_blank">islamic PNG Designed By sdesigns</a>
                        </div>
                    </div>
                    <div class="nama__img">
                        Logo Al-Hikmah
                        <div class="licenses__link">
                            <a href="https://pngtree.com/freepng/mosque-icon-logo-vector-simple-mosque-design_9005489.html?sol=downref&id=bef" title="imosque PNG Designed By HENDRA123" target="_blank">imosque PNG Designed By HENDRA123</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--========== SCROLL UP ==========-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-line"></i>
        </a>

        <!--=============== SCROLLREVEAL ===============-->
        <script src="js/scrollreveal.min.js"></script>

    </body>
</html>